
.empty-cart{
    font-size: large;
    text-align: center;
    margin: 60px;
}


.text-cart{
    text-align: center;
}

.cart-item-img{
    width: 200px;
    height: 250px;
   
}
.img-cont{
    margin: 10px;
}

.cart-item{
    display: flex;
    flex-direction: row;
    gap: 50px;
   
}
.cart-sub{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.cart-item-info{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cart-summary{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    padding: 20px;
    

}
.checkout-btn{
    margin-top: 50px;
    border-style: none;
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
}

.remove-cart-item-button{
    position: absolute;
    right: 500px;
    background-color: white;
    border-style: none;
    font-size: large;
    cursor: pointer;


}

.item-cart-name{
    margin: 10px;
}
.arrow-cont{
    display: flex;
    gap: 20px;
}

.arrow-i{
    cursor: pointer;
}
b{
    font-size: large;
}