.img-category{
    width: 300px;
    height: 400px;
}

.img-title-container{
   display: flex;
   justify-content: center;
   gap: 50px;
   padding: 50px;
   

}
.Category-container{
    margin-top: 30px;
}

.category-title{
    text-align: center;
}

.title{
    color: black;
}

@media screen and (max-width:600px) {
    
    .img-title-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}