
.brand-container{
    margin-top: 70px;
}

.brand-title {
   text-align: center;
   
   

}
.title{
    text-align: center;
}



.brand-img-container{
    display: flex;
    flex-direction: row;
    height: 50%;
  
   

}

.img-brand{
    width: 80%;
    height: 100%;
}

.brand-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}