
.brand-container{
    margin-top: 70px;
}

.brand-title {
   text-align: center;
   
   

}
.title{
    text-align: center;
}



.brand-img-container{
    display: flex;
    flex-direction: row;
    height: 50%;
  
   

}

.img-brand{
    width: 80%;
    height: 80%;
}

.brand-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

@media screen and (max-width: 600px) {
    .brand-img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}