.sliding-menu{
    position: absolute;
    left: 5px;
    width:250px;
    height: 700px;
    z-index: 400;
    border-radius: 5px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    transition: left 0.5s ease-in-out;


}
ul{
    padding: 50px;
}
li{
    margin: 5px;
    list-style: none;
}

a{
    color:black;
    text-decoration: none;

    &:hover{
        color: #007bff;

    }
    

}

.close-menu{
    position: absolute;
    top: 10px;
    left:200px;
    background-color: #fff;
    border-style: none;

    &:hover{
        color: red;
    }
    

}

.brand-logo-menu{
    width: 200px;
    height: 300px;
}