

.menu-button{
    color: white;
    background-color: black;
    border-style: none;
    width: 30px;
    height: 30px;
    font-size: large;
    cursor: pointer;
    
}

.nav-bar-container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: relative;

}
.menu1{
    display: flex;
    margin: 20px;

}
.menu2{
    display: flex;
    gap: 30px;
    margin: 20px;
    margin-right: 30px;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.brand-name{
    color: white;
}
.brand-joota{
    text-decoration: none;
}
.search-button{
    color: white;
    background-color: black;
    border-style: none;
    font-size: large;
    cursor: pointer;
}

.profile-button{
    color: white;
    background-color: black;
    border-style: none;
    font-size: large;
    cursor: pointer;
}

.cart-button{
    color: white;
    background-color: black;
    border-style: none;
    font-size: large;
    cursor: pointer;
}

.cart{
    position: relative;
}


@media screen and (max-width:600px) {
    .nav-bar-container{
        width: 100%;
    }
  
    
}