.footer-container{
    background-color: black;
    height: 200px;
}

.know-more{
    color:white;
    text-align: center;
    padding-top: 20px;
}

.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top: 30px;
}

a{
    color: white;
    

}