.footer-container{
    background-color: black;
    height: 200px;
}

.know-more{
    color:white;
    text-align: center;
    padding-top: 20px;
}

.link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top: 30px;
}

.link-social{
    color: white;
    

}

@media screen and (max-width:600px) {
    .footer-container{
        width: 100%;
        height: 300px;
    }
}