// .search-container{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;

//     position: absolute;
//     top:0;
//     right:150px;
//     background-color: white;
//     width: 500px;
//     height: 100px;
//     border-radius: 5px;
//     box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
//     z-index: 200;

// }

.search-overlay{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 10px;
    overflow-y: scroll;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 90vh;
    z-index: 400;
    animation-duration: .2s;
    animation-name: slide-in;
   
}
@keyframes slide-in{
    from{
        translate: 150vw 0;
        scale: 200% 1;;
    }
    to {
        translate: 0 0;
        scale: 100% 1;
      }
}

.search-box{
    width: 300px;
    height: 50px;
    border-style: none;
    border-bottom: 1px solid black;
    font-size: large;
    padding: 10px;
    margin: 10px;
    

   

}
.search-close{
    background-color: white;
    position: absolute;
    top:10px;
    left: 350px;
   
    color: black;
    border-style: none;
    margin-left: 10px;
   
}


.cat-imge{
    width: 100px;
    height: 120px;
}

.img-cat{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2px;
    margin: 20px;
    
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}
